@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-deserve{
  background-image: url('/img/bg-deserve.png');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e6b1a4;
}

.square{
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 1440px) {
  .square{
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .square{
    width: 200px;
    height: 200px;
  }
}


strong{
  font-weight: bold;
}

.quote {
  background-image: url('/img/quote.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  display: inline-block;
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.invert {
  transform: rotateX(-180deg);
  transform: rotateZ(-180deg);
  bottom: 0;
  top: inherit;
  bottom: -10px;
  left: inherit;
  margin-left: -20px;
}

.enroll{
  top: 66px;
  right: 10px;
  background-image: url('/img/enroll-button.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
}

.menu, .nav-container{
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.submenu::before{
  content: '';
  background-image: url('/img/arrow-sub-menu.png');
  width: 15px;
  height: 15px;
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: text-top;
  position: absolute;
  right: -20px;
  top: 20px;
}

.submenu{
  position: relative;
}

.submenu ul {
  @apply tw-invisible tw-absolute tw-z-10 tw-bg-white tw-mt-4 tw-border tw-text-left tw-opacity-0;
  left: -80px;
  min-width: 200px;
  transition: all 0.3s ease;
}

.submenu ul li{
  @apply tw-capitalize tw-py-3 tw-px-4 tw-border-b;
}

.submenu ul li:hover{
  @apply tw-text-blue-dark;
}

nav ul .submenu:hover > ul {
  visibility: visible;
  opacity: 1;
}	

@media screen and (max-width: 700px) {
  .no-br br{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .submenu ul {
    @apply tw-invisible tw-absolute tw-z-10 tw-bg-white tw-mt-4 tw-border tw-text-left tw-opacity-0;
    left: inherit;
    min-width: inherit;
    transition: none;
  }
  nav ul .submenu:hover > ul {
    position: relative;
    border: none;
  }
  .submenu::before{
    right: 10px;
  }
}


.pink .swiper-button-next{
  background-image: url('/img/arrow-pink.png') !important;
}

.pink .swiper-button-prev{
  background-image: url('/img/arrow-pink.png') !important;
  transform: rotateZ(180deg);
}

.yellow .swiper-button-next{
  background-image: url('/img/arrow-yellow.png') !important;
}

.yellow .swiper-button-prev{
  background-image: url('/img/arrow-yellow.png') !important;
  transform: rotateZ(180deg);
}

.disc-yellow li::before {
  content: "";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  background: #f2bd31; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  margin-right: 0.8em; /* Also needed for space (tweak if needed) */
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.start-program-button {
  width: 250px;
  text-align: center;
}

.btn-hcg-shadow{
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
}